h1 {
    position: relative;
    color: #6eb0f9;
    line-height: 1.4;
    background-color: lightblue;
}
body {
    font-size: 25px;
    color: black;
    background-color: lightblue;
}
th{
    color: black;
    font-size: 30px;
    background-color: lightblue;
}
input {
    color: #cea82c;
    background-color: lightblue;
}



