h1 {
    text-align: center;
}
input[type=""],
select,
textarea,
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: none;
}


input[type="number"],
textarea{
    background: #f8f8f8;
    display: block;
    font-size: 20px;
    padding: 12px 15px;
    width: 250px;
    transition: 0.8s;
    border-radius: 0;
}
input[type="number"]:focus,
textarea:focus {
    background: #e9f5fb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
input[type="submit"]{
    color: #000;
    background-color: #fff100;
    border-bottom: 5px solid #ccc100;
    text-align: center;
}