input[type=radio]:checked + .category {
    display: block;
}

.category {
    display: none;
}

.container > input[type=radio] {
    display: none;
}

.category-selected {
    background-color: #27282c;
}