<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <title>従業員内容確認: Rin</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>

    <nav>
        <details>
            <summary>従業員</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/employee}">
                        従業員一覧
                    </a>
                    <a th:href="@{/labor_check}">
                        労働力確認/編集
                    </a>
                    <a th:href="@{/hourly_wage_check}">
                        時給設定
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>予約</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/reservation_registration}">
                        予約登録
                    </a>
                    <a th:href="@{/reservation_check}">
                        予約確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>テーブル</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/table_registration}">
                        テーブル登録
                    </a>
                    <a th:href="@{/table_check}">
                        テーブル確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>コース</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/course_registration}">
                        コース登録
                    </a>
                    <a th:href="@{/course_check}">
                        コース確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>シフト</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/shift_hope}">
                        提出済みシフト確認
                    </a>
                    <a th:href="@{/tentative_shift}">
                        仮シフト
                    </a>
                    <a th:href="@{/shift}">
                        当月本シフト確認
                    </a>
                    <a th:href="@{/shift_plan}">
                        シフト計画設定
                    </a>
                </div>
            </div>
        </details>
        <a th:href="@{/setting}">設定</a>
    </nav>
</header>
<main>
    <h1>従業員内容確認</h1>
    <div class="container">
        <p>姓: <span th:text="${addEmployeeForm.lastName}"></span></p>
        <p>名: <span th:text="${addEmployeeForm.firstName}"></span></p>
        <p>生年月日: <span th:text="${addEmployeeForm.birthday}"></span></p>
        <p>時給: <span th:text="${addEmployeeForm.hourlyWage}"></span></p>
        <p>メールアドレス: <span th:text="${addEmployeeForm.mailAddress}"></span></p>
        <p>性別: <span th:if="${addEmployeeForm.genderId==0}">男性</span><span th:if="${addEmployeeForm.genderId==1}">女性</span></p>
        <p>源泉徴収対象: <span th:if="${addEmployeeForm.isTaxable}">〇</span><span th:if="${!addEmployeeForm.isTaxable}">✕</span></p>
        <input type="submit" value="追加" form="form">
    </div>
    <form id="form" action="#" th:action="@{/employee/add}" th:object="${addEmployeeForm}" method="post">
        <input type="hidden" th:value="${addEmployeeForm.lastName}" th:field="*{lastName}">
        <input type="hidden" th:value="${addEmployeeForm.firstName}" th:field="*{firstName}">
        <input type="hidden" th:value="${addEmployeeForm.birthday}" th:field="*{birthday}">
        <input type="hidden" th:value="${addEmployeeForm.hourlyWage}" th:field="*{hourlyWage}">
        <input type="hidden" th:value="${addEmployeeForm.mailAddress}" th:field="*{mailAddress}">
        <input type="hidden" th:value="${addEmployeeForm.genderId}" th:field="*{genderId}">
        <input type="hidden" th:value="${addEmployeeForm.isTaxable()}" th:field="*{isTaxable}">
        <input type="hidden">
    </form>
</main>
<footer>
    © 2022 www.rin-ats.com
</footer>
</body>
</html>