<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../css/AdditionEdit.css">
    <title>追加編集</title>
</head>
<body>
<h1>追加編集画面</h1>
<div align="center">
    <form action="AdditionEditCheck.html" method="post">
        <table border="0">
            <tr>
                <th>月選択</th>
                <td>
                    <label>
                        <input type="month" name="example">
                    </label>
                </td>
            </tr>

            <tr>
                <th>日付入力</th>
                <td>
                    <label>
                        <input type="date" name="example">
                    </label>
                </td>
            </tr>
            <tr>
                <th>必要人数入力</th>
                <td>
                    <label>
                        <input type="number" min="0" max="20" name="example">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="確認">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>