<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/AlternativePerson.css">
    <title>代わりの人を提示する画面</title>
</head>
<body>
<h1>代わりの人を提示</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>日付選択</th>
            <td>
                <label>
                    <input type="date" name="date">
                </label>
            </td>
        </tr>
        <tr>
            <th>人数</th>
            <td>
                <label>
                    <input type="number" name="human">
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <input type="button" value="提示">
            </th>
        </tr>
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='MainShiftEdit.html'"
                       value="編集">
            </th>
        </tr>
    </table>
</div>
</body>
</html>