<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出退勤確認画面</title>
</head>
<body>
<h1>出退勤確認</h1>
<div align="center">
    <table border="0">
        <tr>
           <th>
               <input type="button"
                      onclick="location.href='l'"
                      value="日付選択">
           </th>
        </tr>
        <tr>
            <th>
                <input type="button" value="編集">
            </th>
        </tr>
        <tr>
            <th>
                <input type="button" value="編集履歴">
            </th>
        </tr>
    </table>
</div>
</body>
</html>