<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <title>出退勤編集</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>
</header>
<h1>出退勤編集</h1>
<main>
    <div class="container">
        <form action="AdditionEditCheck.html" method="post">
            <table>
                <tr>
                    <th>出退勤日時</th>
                    <td>
                        <label>
                            <input type="time" name="date">
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>退勤日時</th>
                    <td>
                        <label>
                            <input type="time" name="date">
                        </label>
                    </td>
                </tr>
                <tr>
                    <th>
                        <input type="button" value="確認">
                    </th>
                </tr>
            </table>
        </form>
    </div>
</main>
<footer>
    © 2022 www.rin-ats.com
</footer>
</body>
</html>