<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/AttendanceEditing.css">
    <title>出退勤編集画面</title>
</head>
<body>
<h1>出退勤編集</h1>
<div align="center">
    <form action="AdditionEditCheck.html" method="post">
        <table border="0">
            <tr>
                <th>出退勤日時</th>
                <td>
                    <label>
                        <input type="time" name="date">
                    </label>
                </td>
            </tr>
            <tr>
                <th>退勤日時</th>
                <td>
                    <label>
                        <input type="time" name="date">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="button"
                           onclick="location.href='AttendanceEditingCheck.html'"
                           value="確認">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>