<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <title>パスワード変更</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>
</header>
<main>
<h1>パスワード変更</h1>
    <div class="container">
        <form action="#" th:action="@{/change_password}" th:object="${changePasswordForm}" method="post">
            <label>
                現在パスワード
                <input type="text" th:field="*{oldPassword}">
            </label><br>
            <label>
                新パスワード
                <input type="password" th:field="*{newPassword1}">
            </label><br>
            <label>
                新パスワード確認
                <input type="password" th:field="*{newPassword2}">
            </label><br>
            <input type="submit" value="パスワード変更">
        </form>
    <div>
</main>
</div>
<footer>
    © 2022 www.rin-ats.com
</footer>
</body>
</html>