<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Configuration.css">
    <title>設定</title>
</head>
<body>
<h1>設定画面</h1>
<hr>
<div align="center">
    <table border="0">
        <tr>
            <th>
                <a href="PasswordChange.html">パスワード変更</a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="MailaddressChange.html">メールアドレス変更</a>
            </th>
        </tr>
        <tr>
            <th>
                <button type="button">ログアウト
                </button>
            </th>
        </tr>
    </table>
</div>
</body>
</html>