<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/Configuration.css">
    <title>設定</title>
</head>
<body>
<h1>設定画面</h1>
<div align="center">
<ul class="sidenav">
    <table border="0">
        <tr>
            <th>
                <a href="PasswordChange.html"><li>パスワード変更</li></a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="MailaddressChange.html"><li>メールアドレス変更</li></a>
            </th>
        </tr>
        <tr>
            <th>
                <button type="button">ログアウト
                </button>
            </th>
        </tr>
    </table>
</ul>
</div>
</body>
</html>