<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <title>仮シフト編集</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>
</header>
<main>
    <h1>仮シフト編集</h1>
    <div class="container">
        <table th:if="${!tentativeShiftList.isEmpty()}">
            <thead>
            <tr>
                <th>氏名</th>
                <th th:each="day : ${#numbers.sequence(1, dayCount)}" th:text="${day}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shift : ${tentativeShiftList}">
                <td th:text="${shift.key}"></td>
                <th:block th:each="day : ${#numbers.sequence(1, dayCount)}">
                    <td>
                        <input th:id="${shift.key} + '' + ${day}" type="checkbox" class="etsc">
                        <label th:for="${shift.key} + '' + ${day}" onclick="change(this)"
                               th:id="${shift.key} + '' + ${day} + 'label'"></label>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
        <button onclick="submit()">変更確認</button>
    </div>
</main>
<footer>
    © 2022 www.rin-ats.com
</footer>
<script>
    const changeList = [];

    function change(e) {
        const forId = e.id;
        const id = forId.replace('label', '');
        const checkbox = document.getElementById(id);
        changeList.push(id + checkbox.checked);
    }

    function submit() {
        const form = document.createElement('form');
        document.querySelector('body').appendChild(form);
        form.method = 'POST';
        form.action = '/tentative_shift/edit';
        let i = 0;
        changeList.forEach(
            (value) => {
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = 'changeList[' + i + ']';
                input.value = value;
                form.appendChild(input);
                console.log(input.name + ':' + input.value);
                i++;
            }
        );
        form.submit();
    }
</script>
</body>
</html>