<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../css/HourlyWageSettingFuction.css">
    <title>源泉徴収対象額設定画面</title>
</head>
<body>
<h1>源泉徴収対象額設定</h1>
<div align="center">
    <form action="WithholdingAmountSetup.html" method="post">
        <table border="0">
            <tr>
                <th>従業員選択</th>
                <td>
                    <label>
                        <input type="text" name="employee">
                    </label>
                </td>
            </tr>
            <tr>
                <th>時給入力フォーム</th>
                <td>
                    <label>
                        <input type="text" name="hourly wage">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="button" value="確定">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>