<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仮シフト確認画面</title>
</head>
<body>
<h1>仮シフト確認</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='karisihutohen.html'"
                       value="仮シフト編集">
            </th>
        </tr>
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='toppage.html'"
                       value="仮シフト確定">
            </th>
        </tr>
</body>
</html>