<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仮シフト編集確認画面</title>
</head>
<body>
<h1>仮シフト編集確認画面</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='karisihutokakunin.html'"
                       value="確定だよん～">
            </th>
        </tr>
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='karisihutohen.html'"
                       value="修正">
</body>
</html>