<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <title>労働力確認</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>

    <nav>
        <details>
            <summary>従業員</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/employee}">
                        従業員一覧
                    </a>
                    <a th:href="@{/labor_check}">
                        労働力確認/編集
                    </a>
                    <a th:href="@{/hourly_wage_check}">
                        時給設定
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>予約</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/reservation_registration}">
                        予約登録
                    </a>
                    <a th:href="@{/reservation_check}">
                        予約確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>テーブル</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/table_registration}">
                        テーブル登録
                    </a>
                    <a th:href="@{/table_check}">
                        テーブル確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>コース</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/course_registration}">
                        コース登録
                    </a>
                    <a th:href="@{/course_check}">
                        コース確認/編集
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>シフト</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/shift_hope}">
                        提出済みシフト確認
                    </a>
                    <a th:href="@{/tentative_shift}">
                        仮シフト
                    </a>
                    <a th:href="@{/shift}">
                        当月本シフト確認
                    </a>
                    <a th:href="@{/shift_plan}">
                        シフト計画設定
                    </a>
                </div>
            </div>
        </details>
        <details>
            <summary>設定</summary>
            <div class="links-container">
                <div class="links">
                    <a th:href="@{/change_password}">
                        パスワード変更
                    </a>
                    <a th:href="@{/change_mail_address}">
                        メールアドレス変更
                    </a>
                    <a th:href="@{/logout}">
                        ログアウト
                    </a>
                </div>
            </div>
        </details>
    </nav>
</header>
<main>
    <h1>労働力確認</h1>
    <div class="container">
        <table>
            <tr>
                <th>名前</th>
                <th>労働力</th>
            </tr>
            <tr th:each="labor, item: ${laborList}">
                <td><span th:text="${name[item.count -1]}"></span></td>
                <td><span th:text="${labor.labor}"></span></td>
                <td>
                    <form action="#" th:action="@{labor_edit}" method="post">
                        <input type="hidden" name="employeeId" th:value="${labor.id.employeeId}">
                        <input type="hidden" name="roleId" th:value="${labor.id.roleId}">
                        <input type="hidden" name="level" th:value="${labor.labor}">
                        <input type="submit" value="編集">
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <a th:href="@{/}">トップページに戻る</a>
    </div>
</main>
<footer>
    © 2022 www.rin-ats.com
</footer>
</body>
</html>