<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>労働力編集確認画面</title>
</head>
<body>
<h1>労働力編集確認</h1>
<div align="center">
    <table border="1">
        <tr>
            <td><h2 th:text="${name}"></h2></td>
            <td><h4 th:text="${level}"></h4></td>
        </tr>
    </table>
    <form action="#" th:action="@{/labor_edit_complete}" method="post">
        <input type="hidden" name="employeeId" th:value="${employeeId}">
        <input type="hidden" name="level" th:value="${level}">
        <input type="submit" value="確定">
    </form>
    <form action="#" th:action="@{/labor_edit}" method="post">
        <input type="hidden" name="employeeId" th:value="${employeeId}">
        <input type="hidden" name="level" th:value="${level}">
        <input type="submit" value="修正">
    </form>
</div>
</body>
</html>