<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../css/MailaddressChange.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>メールアドレス変更</title>
</head>
<body>
<h1>メールアドレス変更画面</h1>
 <div align="center">
    <table border="0">
        <tr>
        <th>新メールアドレス入力</th>
            <td>
                <label>
                    <input type="email" name="mail">
                </label>
            </td>
        </tr>
        <tr>
            <th>新メールアドレス確認</th>
            <td>
                <label>
                    <input type="email" name="mail" >
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='MailaddressChangeCheck.html'"
                       value="認証メール">
            </th>
        </tr>
    </table>
</div>
</body>
</html>