<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
</head>
<body>
<h1>パスワード変更画面</h1>
<div align="center">
    <form action="Configuration.html" method="post">
        <table border="0">
            <tr>
                <th>現在パスワード</th>
                <td>mail was sent
                    <label>
                        <input type="text" name="pass">
                    </label>
                </td>
            </tr>
            <tr>
                <th>新パスワード</th>
                <td>
                    <label>
                        <input type="text" name="newpassword">
                    </label>
                </td>
            </tr>
            <tr>
                <th>新パスワード確認</th>
                <td>
                    <label>
                        <input type="text" name="check">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="変更">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>