<!DOCTYPE html>
<html lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>パスワード再設定</title>
<body>
<h1>パスワード再設定画面</h1>
    <hr>
    <div align="center">
        <table broder="0">
            <tr>
                <th>
                    従業員ID
                </th>
                <td><label>
                    <input type="text" name="employee" value="">
                </label></td>
            </tr>
            <tr>
                <th>
                    メールアドレス
                </th>
                <td><label>
                    <input type="email" name="email" value="">
                </label></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="再設定メール送信">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>