<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>予約内容確認</title>
</head>
<body>
<h1>予約編集確認画面</h1>
<div style="align: center">
    <table border="1">
        <tr>
            <th>氏名</th>
            <th>コース名</th>
            <th>日時</th>
            <th>人数</th>
            <th>座席</th>
        </tr>
        <tr>
            <td th:text="${customerName}"></td>
            <td th:text="${courseName}"></td>
            <td th:text="${#temporals.format(dateTime, 'yyyy/MM/dd HH:mm')}"></td>
            <td th:text="${numOfPeople}"></td>
            <td th:text="${tableName}"></td>
        </tr>
    </table>
    <form action="#" th:action="@{reservation_edit_complete}" method="post">
        <input type="hidden" name="id" th:value="${id}">
        <input type="hidden" name="customerName" th:value="${customerName}">
        <input type="hidden" name="courseId" th:value="${courseId}">
        <input type="hidden" name="dateTime" th:value="${dateTime}">
        <input type="hidden" name="numOfPeople" th:value="${numOfPeople}">
        <input type="hidden" name="tableName" th:value="${tableName}">
        <input type="submit" value="確定">
    </form>
</div>
</body>
</html>

