<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>予約確認</title>
</head>
<body>
<h1>予約確認機能</h1>
<h1>予約確認</h1>
<div style="align: center">
    <table border="1">
        <tr>
            <th>氏名</th>
            <th>コース名</th>
            <th>日時</th>
            <th>人数</th>
            <th>座席</th>
        </tr>
        <tr th:each="reservation: ${reservationList}">
            <td th:text="${reservation.customerName}"></td>
            <td th:each="course: ${courseName}" th:text="${course}"></td>
            <td th:text="${reservation.dateTime}"></td>
            <td th:text="${reservation.numOfPeople}"></td>
            <td th:text="${reservation.tableName}"></td>
            <td>
                <form action="#" th:action="@{/reservation_edit}" method="post">
                    <input type="hidden" name="customerName" th:value="${reservation.customerName}">
                    <input type="hidden" name="courseId" th:value="${reservation.courseId}">
                    <input type="hidden" name="dateTime" th:value="${reservation.dateTime}">
                    <input type="hidden" name="numOfPeople" th:value="${reservation.numOfPeople}">
                    <input type="hidden" name="tableName" th:value="${reservation.tableName}">
                    <input type="submit" value="編集">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
