<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>給与確認画面</title>
</head>
<body>
<h1>給与確認</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>年月選択</th>
        <td>
        <label>
            <input type="month" name="month">
        </label>
        </td>
        </tr>
        <tr>
            <th>
                <input type="button" value="従業員選択">
            </th>
        </tr>
        <tr>
            <th>
                <input type="file" value="PDF出力" >
            </th>
        </tr>
    </table>
</div>
</body>
</html>