<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet"  href="../css/ShiftPlan.css">
    <title>シフト計画設定</title>
</head>
<body>
<h1>シフト計画設定画面</h1>
<div align="center">
    <ul class="sidenav">
    <table border="0">
        <tr>
            <th>
                <a href="Template.html"><li>テンプレート確認</li></a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="AdditionEdit.html"><li>追加編集</li></a>
            </th>
        </tr>
    </table>
    </ul>
</div>
</body>
</html>