<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>店長アカウント登録画面</title>
</head>
<body>
<h1>店長アカウント登録</h1>
<div align="center">
    <form action="StoremanagerAccountRegistrationDetailsCheck.html" method="post">
    <table border="0">
        <tr>
            <th>姓入力</th>
            <td>
                <label>
                    <input type="text" name="family-name">
                </label>
            </td>
        </tr>
        <tr>
            <th>名入力</th>
            <td>
                <label>
                    <input type="text" name="given-name">
                </label>
            </td>
        </tr>
        <tr>
            <th>性別</th>
            <td>
                <label>
                <input type="radio" name="gender" value="man">男
                <input type="radio" name="gender" value="woman">女
                </label>
            </td>
        </tr>
        <tr>
            <th>生年月日</th>
            <td>
                <label>
                    <input type="date" name="birthday">
                </label>
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                <label>
                    <input type="email" name="email">
                </label>
            </td>
        </tr>
        <tr>
            <th>
            <input type="button" value="確認">
            </th>
        </tr>
    </table>
    </form>
</div>
</body>
</html>