<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../css/StoremanagerAccountRegistrationDetailsCheck.css">
    <title>店長アカウント登録内容確認画面</title>
</head>
<body>
<h1>店長アカウント登録内容</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>
               <input type="button"
               onclick="location.href='TopPage.html'"
               value="確定">
            </th>
        </tr>
        <tr>
            <th>
                <input type="button"
                       onclick="location.href='StoremanagerAccountRegistration.html'"
                       value="修正">
            </th>
        </tr>
    </table>
    </div>
</body>
</html>