<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ログイン</title>
</head>
<body>
<h1>ログイン画面</h1>
<hr>
<div align="center">
    <table border="0">
        <tr>
            <th>従業員ID</th>
            <td><label>
                <input type="text" name="employee" value="">
            </label></td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td><label>
                <input type="text" name="password" value="">
            </label></td>
        </tr>
        <tr>
            <th>パスワード再設定</th>
            <td>
                <a href="">パスワード再設定</a>
            </td>
        </tr>
        <tr>
            <th>
            <td colspan="2">
                <input type="submit" value="ログイン">
            </td>
        </tr>
    </table>
</div>
</body>