<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提出済みシフト確認画面</title>
</head>
<body>
<h1>提出済みシフト確認</h1>
<div align="center">
    <form action="" method="post">
        <table border="0">
            <tr>
                <th>従業員ID入力</th>
                <td>
                    <label>
                    <input type="text" name="example">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
        </table>
    </form>
</div>
</body>
</html>