<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TableEditConfPage</title>
</head>
<body>

<h3>こちらでよろしい？</h3>

<table>
    <tr>
        <td>名前</td>
        <td>人数</td>
    </tr>
    <tr>
        <form action="#" th:action="@{/table_edit_complete}" method="post">
            <td th:text="${name}"></td>
            <input type="hidden" name="name" th:value="${name}">
            <td th:text="${numOfPeople}"></td>
            <input type="hidden" name="numOfPeople" th:value="${numOfPeople}">
            <td><input type="submit" value="確定"></td>
        </form>
    </tr>
</table>

</body>
</html>