<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>テーブル登録画面</title>
</head>
<body>
<h1>テーブル登録</h1>
<div align="center">
    <table border="0">
        <tr>
            <th>テーブル名入力</th>
            <td>
                <label>
                    <input type="text" name="table">
                </label>
            </td>
        </tr>
        <tr>
            <th>人数入力</th>
            <td>
                <label>
                    <input type="text" name="number">
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <input type="button" value="確認">
            </th>
        </tr>
    </table>
</div>
</body>
</html>