<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>テーブル編集画面</title>
</head>
<body>
<h1>テーブル編集</h1>
<div align="center">
    <form action="TableEditCheck.html" method="post">
    <table border="0">
        <tr>
            <th>テーブル選択</th>
            <td>
                <label>
                    <input type="text" name="table">
                </label>
            </td>
        </tr>
        <tr>
            <th>テーブル名入力</th>
            <td>
                <label>
                    <input type="text" name="table">
                </label>
            </td>
        </tr>
        <tr>
            <th>人数入力フォーム</th>
            <td>
                <label>
                    <input type="number" name="human">
                </label>
            </td>
        </tr>
        <tr>
            <th>
                <input type="button" value="確認">
            </th>
        </tr>
    </table>
    </form>
</div>
</body>
</html>