<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>シフト提出期間設定画面</title>
</head>
<body>
<h1>シフト提出期間設定</h1>
<div align="center">
    <form action="teishutukaku.html" method="post">
        <table border="0">
            <tr>
                <th>日付or何日前入力フォーム</th>
                <td>
                    <input type="date" name="example">
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="確認">
                </th>
            </tr>
        </table>
    </form>
</body>
</html>
