<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="../css/TemplateConfiguration.css">
    <title>テンプレート設定</title>
</head>
<body>
<h1>テンプレート設定</h1>
<div align="center">
    <form action="" method="post">
        <table border="0">
            <tr>
                <th>曜日毎共通人数</th>
                <td>
                    <label>
                        <input type="number" name="human">
                    </label>

                </td>
            </tr>
            <tr>
                <th>祝日前毎共通人数</th>
                <td>
                    <label>
                    <input type="number" name="human">
                    </label>
                </td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="確認">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>