<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <title>仮シフト確認</title>
</head>
<body>
<header>
    <a th:href="@{/}">Rin</a>
</header>
<main>
    <h1>仮シフト確認</h1>
    <div class="container">
        <table th:if="${!tentativeShiftList.isEmpty()}">
            <thead>
            <tr>
                <th>氏名</th>
                <th th:each="day : ${#numbers.sequence(1, dayCount)}" th:text="${day}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shift : ${tentativeShiftList}">
                <td th:text="${shift.key}"></td>
                <th:block th:each="day : ${#numbers.sequence(1, dayCount)}">
                    <td th:if="${shift.value.contains(day)}">〇</td>
                    <td th:if="!${shift.value.contains(day)}"></td>
                </th:block>
            </tr>
            </tbody>
        </table>
        <p th:if="${tentativeShiftList.isEmpty()}">仮シフトがありません。</p>
        <a th:href="@{/tentative_shift/edit}" th:if="${!tentativeShiftList.isEmpty()}">仮シフト編集</a>
        <form action="#" th:action="@{/shift_generate}" method="post">
            <input type="submit" value="シフト生成" th:if="${tentativeShiftList.isEmpty()}">
            <input type="submit" value="シフト再生成" th:if="${!tentativeShiftList.isEmpty()}">
        </form>
        <form action="#" th:action="@{/tentative_shift/submit}" method="post" th:if="${!tentativeShiftList.isEmpty()}">
            <input type="submit" value="公開確認">
        </form>
    </div>
</main>
<footer>
    © 2022 www.rin-ats.com
</footer>
</body>
</html>