<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TestForm</title>
</head>
<body>
<form action="#" th:action="@{/public}" method="post">
    <input type="submit" value="Public">
</form>
<form action="#" th:action="@{/private}" method="post">
    <input type="text" name="access_token" placeholder="AccessToken">
    <input type="submit" value="Private">
</form>
<form action="#" th:action="@{/login}" method="post" th:object="${authForm}">
    <input type="text" th:field="*{employeeId}" placeholder="UserId">
    <input type="text" th:field="*{password}" placeholder="Password">
    <input type="submit" value="Login">
</form>
<form action="#" th:action="@{/check_access_token}" method="post">
    <input type="text" name="access_token" placeholder="AccessToken">
    <input type="submit" value="Check">
</form>
<form action="#" th:action="@{/logout}" method="post">
    <input type="text" name="access_token" placeholder="AccessToken">
    <input type="submit" value="Logout">
</form>
</body>
</html>