<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>当月本シフト確認画面</title>
</head>
<body>
<h1>当月本シフト確認</h1>
<div align="center">
    <form action="" method="post">
        <table border="0">
            <tr>
                <th>日付選択フォーム</th>
                <td><label>
                    <input type="date" name="pass">
                </label></td>
            </tr>
            <tr>
                <th>
                    <input type="submit" value="確認">
                </th>
            </tr>
        </table>
    </form>
</div>
</body>
</html>