<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>予約登録</title>
</head>
<body>
<h1>予約登録</h1>
<tr>

        <th>
            氏名入力
        </th>
        <td>
            <input type="text" name="customerName" value="" size="22"><br>

    </td>
<tr>
        <th>
            コース名
        </th>
        <td>
            <input type="text" name="courseId" size="22"><br>
    </td>
<tr>
        <th>
            日時
        </th>
        <input type="date" name="dateTime" size="22"><br>
<tr>

        <th>
            人数
        </th>
        <input type="number" name="numOfPeople" size="22"><br>
<tr>
    <th>
        座席
    </th>
    <input type="text" name="tableId" size="22"><br>
    <input type="submit" value="確認">
</tr>
</body>
</html>